body{
    background-color: #FFF;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 15px;
}
h1, h2, p, ul, li {
    font-family: sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #111;
    padding-right: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: #ebc98e;
    padding: 20px; 
    text-align: justify; 
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
.active {
    background-color: #0099FF;
 }